*{
transition: 0.9s;
}
.container{
background-image: url(background.png);
}
.navbar{
width: 100%;
height: 10vh;
margin: auto;
display: flex;
align-items: center;
}
.logo{
width: 160px;
cursor: pointer;
}
.cart{
width: 40px;
cursor: pointer;
}
nav{
flex: 1;
padding-left: 60px;
}

nav ul li{
display: inline-block;
list-style: none;
margin: 0px 20px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
.text a{
text-decoration: none;
}
.text{
float: left;
display: table;
}
.gettext h1{
  font-family: sans-serif;
}
button{
  position: relative;
  background-color: #47c35a;
  border: none;
  font-size: 16px;
  color: white;
  width: 150;
  height: 30;
  padding: 0px;
  border-radius: 12px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.zm a{
  text-decoration: none;
}
.mz img{
  width: 60px;
}
.mz a{
  text-decoration: none;
}
